
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Styles */
.text-primary{
    color:#FD6E0A;
}

/* Nav Styles */
nav{
    display: flex;
      justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
nav ul {
    display: flex;
    align-items:center;
    align-items: center;
  
}
/* Header */
.header{
    background-image:url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
}



.dark-2{
    color: #474747;
}

nav ul li{
    list-style: none;
    margin-right:50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    
}
/* Banner Styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
  
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
}
.banner-profile-pic{
    height: 676;
    width: 584;
}
.banner-content{
    max-width: 580px;
}

.sec-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.secondary-bg{
    background-color: #FFF8F3;
}

/* About Styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
}


/* Main Styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
.item-description{
    font-weight: bold;
}
.text-center{
    text-align: center;
}

/* Skills-Section Styles */

.skills-container{
    display: flex;
    gap: 24px;
}
.skill{
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #1E1E1E ;
    border-radius: 5px;
}
/* Resume Section Styles */
.resume-container{
    display: flex;
    gap: 24px;
}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description,.experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}
/* Footer Style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;

}
.footer-column{
    width: 50%;
}
footer input[type="text"],input[type="email"],textarea{
height: 64px;
border-radius: 5px;
background-color: white;
display: block;
width: 100%;
padding: 10px 20px;
margin-bottom: 40px;
border: none;
}